<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Fout.</title>
</head>
<body>
    <h1>Er ging iets mis.</h1>
    <p>De pagina die je wilde bekijken bestaat niet meer of je hebt er geen toegang toe.</p>
    <p>Tip: <a href="http://dev.radix-recruitment.be">bekijk onze website</a>.
</body>
</html>