/* Frontend link */
.frontend-link {
  background: #fafafa;
  padding: 20px;
  border: 1px solid #d8dfea;
  margin-bottom: 20px;
}

.frontend-link a {
  color: #3b5998;
  border: none;
}

.frontend-link a:hover {
  border-bottom: 1px solid #3b5998;
}

/* Backend page links */
.backend-pagelinks {}

.backend-pagelinks a {
  display: inline-block;
  border: 1px solid #d8dfea;
  background: #3b5998;
  padding: 6px 10px;
  color: white;
}

/* General table styles */
table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  font-size: 12px;
}

table tr {
  background: #fafafa;
}

table tr.even {
  background: white;
}

table tr th {
  text-align: left;
  font-size: 1.304em;
  padding: 10px 6px;
}

table tr td {
  padding: 10px 6px;
}

/* Jobs table */
table.jobs th.title,
table.jobs td.title {
  width: 60%;
}

/* Backend forms */
.form-item {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

input[type=text],
textarea {
  width: 100%;
  border: 1px solid #999;
  height: 25px;
  line-height: 25px;
}

textarea {
  height: 200px;
}

button[type=submit] {
  background: #3b5998;
  padding: 8px 14px;
  color: white;
  display: block;
  font-size: 1.384em;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;  
}

/* Add a job link */
.add-job a {
  background: #3b5998;
  padding: 8px 14px;
  color: white;
  display: inline-block;
  font-size: 1.384em;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  margin-bottom: 10px;
}

/* Application detail */
.application-detail h1 {
  margin-top: 15px;
}

.application-detail h2 {
  margin: 10px 0;
}

.application-detail .email,
.application-detail .city {
  margin-bottom: 5px;
}

.application-detail .email a {
}

.application-detail .work-item {
  margin-bottom: 20px;
}

.application-detail .work-item div {
  margin-bottom: 5px;
}

.application-detail .work-item .employer {
  font-weight: bold;
}

.application-detail .work-item .location,
.application-detail .work-item .position,
.application-detail .work-item .period,
.application-detail .work-item .description {
  color: #999;
  font-size: 12px;
}

.application-detail .work-item .description {
  font-size: 11px;
}

.application-detail .education-item {
  margin-bottom: 20px;
}

.application-detail .education-item .school {
  font-weight: bold;
}

.application-detail .education-item .year,
.application-detail .education-item .type {
  color: #999;
  font-size: 12px;
}