body {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 82.5%;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #888;
}

a:hover {
  border-bottom: 1px solid #000;
}

h1 {
  margin: 5px 0;
}

/* Layout */
.column-main {
  width: 520px;
  float: left;
  margin-right: 15px;
}

.column-right {
  width: 270px;
  float: left;
}

.column-right .detail-share {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Admin link */
.admin-link {
  background: #fafafa;
  padding: 20px;
  border: 1px solid #d8dfea;
}

.admin-link a {
  color: #3b5998;
  border: none;
}

.admin-link a:hover {
  border-bottom: 1px solid #3b5998;
}

/* Generic button */
span.button {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	cursor: pointer;
	text-align: center;
	color: #4e5665;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none !important;
	white-space: nowrap;
	line-height: 22px;
	border: 1px solid;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px #e5e5e5;
	-moz-box-shadow: 0px 1px 1px #e5e5e5;
	-ms-box-shadow: 0px 1px 1px #e5e5e5;
	-o-box-shadow: 0px 1px 1px #e5e5e5;
	box-shadow: 0px 1px 1px #e5e5e5;
	border-color: #c5c6c8;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f7f8));
	background-image: -webkit-linear-gradient(top, #fff, #f6f7f8);
	background-image: -moz-linear-gradient(top, #fff, #f6f7f8);
	background-image: -ms-linear-gradient(top, #fff, #f6f7f8);
	background-image: -o-linear-gradient(top, #fff, #f6f7f8);
	background-image: linear-gradient(to bottom, #ffffff,#f6f7f8);
}

/* Jobs overview */
body.index h1 {
  margin-left: 20px;
}

ul.jobs { 
  margin: 0;
  padding: 0;
}
ul.jobs li.job {
  list-style: none;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
}
ul.jobs li:hover.job {
  background: #fafafa;
}
ul.jobs li.job h2 {
  color: #3b5998;
  margin-top: 0;
  margin-bottom: 5px;
}
ul.jobs li.job h2 a:hover {
  color: black;
}
ul.jobs li.job .online-since {
  float: right;
  margin-top: 10px;
  font-size: 0.846em;
  color: #999;
}
ul.jobs li.job h3.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 0.923em;
  color: #999;
  font-weight: lighter;
}

/* Jobs detail */
body.job-detail .job-detail h1,
body.apply h1 {
  color: #3b5998;
  margin-top: 10px;
  margin-bottom: 10px;
}

body.job-detail .job-detail h2.subtitle {
  color: #999;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.154em;
  font-weight: lighter;
}

.job-detail .job-links {
  margin: 20px 0;
}

.job-detail .job-links a {
  color: #3b5998;
  font-size: 1.077em;
}

.job-detail .description {
  margin: 20px 0;
  line-height: 1.6;
}

.call-to-action {
  margin-bottom: 20px;
}

.call-to-action a.apply {
	border-color: #3b6e22 #3b6e22 #2c5115;
	background-color: #67ae55;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#67ae55), to(#578843));
	background-image: -webkit-linear-gradient(top, #67ae55, #578843);
	background-image: -moz-linear-gradient(top, #67ae55, #578843);
	background-image: -ms-linear-gradient(top, #67ae55, #578843);
	background-image: -o-linear-gradient(top, #67ae55, #578843);
	background-image: linear-gradient(to bottom, #67ae55,#578843);
	-webkit-box-shadow: inset 0 1px 1px #a4e388;
	-moz-box-shadow: inset 0 1px 1px #a4e388;
	-ms-box-shadow: inset 0 1px 1px #a4e388;
	-o-box-shadow: inset 0 1px 1px #a4e388;
	box-shadow: inset 0 1px 1px #a4e388;
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 7px 0;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	text-decoration: none !important;
	border: 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.job-detail .call-to-action a.connect {
  color: #999;
  border-bottom: 1px solid #999;
}

.subscriber-form {
  margin: 0 0 20px 0;
	padding: 15px;
	background: #f6f7f8;
	border: 1px solid #d2d3d6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.subscriber-form h3 {
  margin: 10px 0;
  margin-top: 0;
  font-weight: lighter;
}

.subscriber-form input {
	width: 100%;
	height: 35px;
	margin: 10px 0;
	background: #fff;
	border: 1px solid #bebebe;
	font-size: 12px;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.subscriber-form button[type=submit] {
  border: 1px solid #4d68a6;
  margin-top: 5px;
  width: 100%;
  height: 25px;
  cursor: pointer;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #4d68a6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d68a6), to(#3d5a9e));
	background-image: -webkit-linear-gradient(top, #4d68a6, #3d5a9e);
	background-image: -moz-linear-gradient(top, #4d68a6, #3d5a9e);
	background-image: -ms-linear-gradient(top, #4d68a6, #3d5a9e);
	background-image: -o-linear-gradient(top, #4d68a6, #3d5a9e);
	background-image: linear-gradient(to bottom, #4d68a6,#3d5a9e);
}

/* Flash messages */
.flash-notice {
  background: #fafafa;
  padding: 20px;
  border: 1px solid #d8dfea;
  color: #3b5998;
  font-weight: bolder;
  margin: 20px 0;
}

/* Frontend links */
/* Backend page links */
.frontend-links {
  margin: 20px 0;
}

.frontend-links a {
  display: inline-block;
  border: 1px solid #d8dfea;
  background: #3b5998;
  padding: 6px 10px;
  color: white;
}


/* Forms */
.form-item {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  border: 1px solid #999;
  height: 25px;
  line-height: 25px;
}

textarea {
  height: 200px;
}

/* Work items apply form */
ul.work {
  margin: 0;
  padding: 0;
}

ul.work li {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.work li .item-work {
  width: 12%;
  float: left;
  margin-right: 10px;
}

/* Education items apply form */
ul.education {
  margin: 0;
  padding: 0;
}

ul.education li {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

ul.education li .item-education {
  width: 22%;
  float: left;
  margin-right: 10px;
}

/* Banners */
div.banner {
  margin: 20px 0;
}

.banner img.banner {}
.banner img.banner.topfront {
  width: 810px;
}

/* Get introduced */
.connection { 
  clear: both; 
  margin-bottom: 30px;
}

.connection .image {
  float: left;
  margin-right: 10px;
}

.connection .name {
  font-weight: bold;
  margin-bottom: 10px;
}

span.send-msg-btn {
	display: inline-block;
	padding: 2px 6px;
	border: 1px solid #999;
	border-bottom-color: #888;
	background-color: #eee;
	color: #333;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 16px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

span.send-msg-btn a.send-msg {
	width: auto;
	border: 0;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 1px 0 2px;
	white-space: nowrap;
	background: none;
}