{% extends "RadixRecruitmentBundle:Backend:base.html.twig" %}

{% block body %}

<a href="/admin/applications">Applications/Configs</a>
<br /><br />
<a href="/admin/watchdog">Watchdog entries</a>

{% endblock %}