{% extends "RadixRecruitmentBundle:Default:base.html.twig" %}

{% block title %}Frontend{% endblock %}

{% block bodyclasses %}index{% endblock %}

{% block headerscripts %}
<script type="text/javascript">
$(document).ready(function() {
  $('a.send-msg').click(function(e) {
    e.preventDefault();
    var uid = $(this).attr('id');
		FB.ui({
		  method: 'send',
      to: uid,
      link: 'http://www.deredactie.be'
		});
  });
});
</script>
{% endblock %}

{% block body %}
{{ parent() }}

{% if carrot.pageLinks.adminLink %}
<div class='admin-link'>
{{ carrot.pageLinks.adminLink|raw }}
</div>
{% endif %}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="flash-notice">
{{ flashMessage }}
</div>
{% endfor %}

{% if carrot.banner %}
<div class="banner">
{{ carrot.banner|raw}}
</div>
{% endif %}

<div class="columns clearfix">
<div class="column-main">


Helaas, er werden geen connecties gevonden.

</div>
<div class="column-right">
Kolom rechts - hier ook?
</div>
</div>


{% endblock %}